<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Nydalen VGS</h1>
        <button class="logginn">Logg inn</button>
        <button class="loggut">Logg ut</button>
    </header>
    <main>
        <div>
            <h2>Velkommen til hjemmesiden til skolen</h2>
            <div class="links">
                <a href="/elever">Elev portal</a>
                <a href="/laerere">Laerer portal</a>
                <a href="/laerere/admin">Admin panel</a>
            </div>
        </div>
        <script src="/javascript/scripts.js"></script>
    </main>
</body>
</html>