<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logget ut</title>
</head>
<body>
    <h1>Du har blitt logget ut</h1>
</body>
</html>