:root {
    --background-color: #333;
    --secondary-background-color: #515151;
    --secondary-background-color-accent: #606060;
    --primary-color: whitesmoke;
    --red-button-color: rgb(206, 0, 0);
    --red-button-color-accent: rgb(255, 0, 0);
    --green-button-color: rgb(0, 148, 10);
    --green-button-color-accent: rgb(0, 187, 12);
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}

a {
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    background-color: var(--secondary-background-color);
    border: var(--primary-color) solid 1px;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem;
    width: 20rem;
}

a:hover {
    background-color: var(--secondary-background-color-accent);
}

.homebtn {
    justify-content: center;
    width: 3.5rem;
    padding: 1rem;
}

.loggut {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--red-button-color);
    border: var(--red-button-color-accent) solid 1px;
    border-radius: 5px;
    padding: 1rem;
}

.loggut:hover {
    background-color: var(--red-button-color-accent);
}

.logginn {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--green-button-color);
    border: var(--green-button-color-accent) solid 1px;
    border-radius: 5px;
    padding: 1rem;
}

.logginn:hover {
    background-color: var(--green-button-color-accent);
}

.alert {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--red-button-color);
    border: var(--red-button-color-accent) solid 1px;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 10rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    background-color: var(--secondary-background-color);
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
    background-color: var(--secondary-background-color);
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    margin: 2rem;
    padding: 2.5rem;
}

.containerMini {
    margin: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25rem;
}