<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lærere</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Lærere</h1>
    <a class="homebtn" href="/">Home</a>
    <br>
    <a href="/ny">Lag ny bruker her</a>
</body>
</html>